@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body{
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
  "header header header"
  "aside main main"
  "spinner-wrapper spinner-wrapper spinner-wrapper";
  grid-template-columns: auto auto auto;
  grid-template-rows:auto 100vh auto ;

}

.header{
  grid-area: header;
}
.cards-area {
  grid-area: aside;
  padding:1em 0.9em;
}
.table-area {
  grid-area: main;
  padding: 1em;
}

/* Inicio spinner */
.spinner-wrapper {
  grid-area: spinner-wrapper;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #105469;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.spinner{
  border: 8px solid #012B39 ;
  border-left-color:darkgoldenrod ;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* fim spinner */

.cards-area, .table-area, .spinner-wrapper {
 background: #105469;
}
.about-area{
  display: block;
  width: 974px;
  height: 92px;
  line-height: 20px;
  background:#012B39;
  border-radius: 0.25em;
  color:white;
  margin-right: 10px;
  margin-top: 15px ;
  padding:2px 5px;

}
.about{
  font-weight: 400;
  font-size: 17px;
}
/* Estilo dos Cards */
.content-cards{
  display: block;
  margin-left: 5px;
  padding: 0 5px 0.85em;
}
.card{
  background: #012B39;
  border-radius: 0.25em;
  box-shadow: 0px 1px 11px rgba(32, 48, 83, 0.466);
  width: 300px;
}
.mediaCard{
  position: relative;
  display: inline-block;
  color:white;
  background:#377297d7;
  height: 150px;
  width: 100%;
  padding: 20px 0 10px 15px;
}

label {
  position: relative;
  top:0;
  left:0;
  padding: 3px 15px 0;
  background:transparent;
}

input{
  position: relative;
  top: 0;
  left: 2%;
  height:25px;
  padding: 10px 1px 3px 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color:#fff;
  background-color: transparent;
  border-width:0px;
  margin:0;
  outline: 0;
  text-indent: 0;
}
.name {
  color:#E2B842;
}
.name-card{
  color:#5FB6D9;
}
.top-card {
  padding: 17px;
 }
 .bottomCard {
  padding: 15px;
 }
 .bottomText{
   position: relative;
   top: -10%;
   color: #fff;
   font-weight: 400;
 }
 p{
  font-size: 14px;
  margin: 10px;
  padding: 15px 10px;
 }
.actions {
  background: none;
  border: none;
  color: #f35ca2;
}
.actions:hover{
  color:#f31d81;
}
/* Fim do estilo do Card */

/* Inicio tabela */
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  width: inherit;
  padding: 0.70em 0.8em;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
  cursor: pointer;
}
.trSelected{
  transition: background 0.25s ease;
  background: #014055;
}
/* fim estilo da tabela */


/* links */
a:link{
  color:#f35ca2;
  text-align: center;
  text-decoration: none;
}
a:visited { color: #5FB6D9;}
a:hover, a:active { color: #E2B842;}
